# About this project

This is a mtgo bot frontend using mezzio
The code is PHP
When some coded is needed assume that you are a senior PHP developer
Tempalte render is TWIG

# Rules
Don't change files in vendor directory
Before any commit run ```composer cs-fix```
When commit add in message that this commit is execute using vibe code