<li class="nav-item">
    <a href="{#{ path('our-bots') }#}" class="nav-link">
        Meu aluguel
    </a>
</li>
<li class="nav-item">
    <a href="{#{ path('our-bots') }#}" class="nav-link">
        Minha coleção
    </a>
</li>
<li class="nav-item">
    <a href="{#{ path('our-bots') }#}" class="nav-link">
        Carrinho
    </a>
</li>
<li class="nav-item">
    <a href="{#{ path('our-bots') }#}" class="nav-link">
        Minha conta
    </a>
</li>
<li class="nav-item">
    <a href="{{ path('logout') }}" class="nav-link">
        Sair
    </a>
</li>