<li class="nav-item">
    <a href="{#{ path('our-bots') }#}" class="nav-link">
        Registrar
    </a>
</li>
<li class="nav-item">
    <a href="{#{ path('our-bots') }#}" class="nav-link">
        Entrar
    </a>
</li>